<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eksinaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="n">
        <activity android:name=".view.activity.AddWalletBenefiriesActivity"></activity>
        <activity android:name=".view.activity.SaveCardPaymentActivity" />
        <activity
            android:name=".view.activity.PaymentDeatilsActvity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.AddCardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.UpdateProfileActivity"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ChangePasswordActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.UserProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.EditBenefiriesActivity"
            android:windowSoftInputMode="stateHidden"
         />
        <activity
            android:name=".view.activity.BenefiriesDetails"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.PaymentActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.Addactivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.AddBenefiariesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.YourTransferActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.GenerateOTPActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.ESignatureActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.AccountValidationActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>